# Игнорировать кэш Python
__pycache__/
*.py[cod]
*$py.class

# Игнорировать виртуальное окружение
venv/
env/
.venv/

# Игнорировать файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Игнорировать временные файлы
*.tmp
*.log

# Игнорировать скачанные музыкальные файлы
*.mp3
*.flac
*.wav
